<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Farmlabs Open Knowledge Platform</title>
  <meta name="description" content="farmlabs">
  <meta name="author" content="farmlabs">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto" rel="stylesheet">
  <script src="https://use.fontawesome.com/c1aa2faa6d.js"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>
  <div class="logo">
  <img src="/static/images/logo.svg" alt="Farmlabs Logo" style="width:60px; height:60px;"></img>
  </div>

  <div class="bgFunct">
    <div class="imgColumn"><img src="/static/images/challenges.jpg" style=" height:100%"></img></div>
    <div class="imgColumn"><img src="/static/images/experiments.jpg" style=" height:100%"></img></div>
    <div class="imgColumn"><img src="/static/images/resources.jpg" style=" height:100%"></img></div>
  </div>

  <div class="bgFunctOver">
    <div class="imgColumn columnContent overcolor color">

        <div class="titles">
          <h1>CHALLENGES</h1>
        </div>

    </div>
    <div class="imgColumn columnContent overcolor color">
      <div class="titles">
        <h1>EXPERIMENTS</h1>
      </div>
    </div>
    <div class="imgColumn columnContent overcolor color">
      <div class="titles">
        <h1>RESOURCES</h1>
      </div>
    </div>
  </div>




  <div class="container">


    <!-- NAVBAR - POPOVER NOT WORKING - bo should be icon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover"><i class="fa fa-user fa-lg"></i></a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#login">Login</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#signup">Sign Up</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#contactForm">Contact</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="navbar-item"><a class="navbar-link" href="#examples">How?</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Why?</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">What?</a></li>

        </ul>
      </div>
    </nav>
    <!-- NAVBAR - POPOVER NOT WORKING - bo should be icon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->







  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
